h1,img{
    text-align: center;
}

header a{
    background-color:gray;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border:1px solid white;
    border-radius: 10px;
    margin: 20px;
    padding: 2px;
}

h2{
    background-color:gray;
    color: white;
}

footer{
    color: white;
    background-color:gray;
}

.pic {
    text-align: center;
}

.next{
    font-size: 20px;
}

.ok{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

